@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
    margin-bottom: 10px;
}
header h1 {
    padding: 10px 0px;
    text-align: center;
}
header menu {
    display: block;
    display: none;
}
header menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(88, 88, 88);
    padding: 10px;
    border-top: 2px solid rgb(145, 145, 145);
}
header menu ul li a:hover {
    background-color: rgb(150, 150, 150);
}

i#burger {
    background-color: rgb(63, 63, 63);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
i#burger:hover {
    background-color: white;
    color: black;
}

main {
    width: 90vw;
    margin: auto;
}
main section {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    text-align: justify;
    max-width: 768px;
}
main section p {
    margin: 10px 0px;
    text-indent: 10px;
}