@import '../Abstract/variaveis';
@import '../Abstract/funcoes';

.campo__aula {
    grid-column: 1 / 4;
    text-align: center;
    @include Colocar-padding;
    .imagens {
        @include Colocar-padding;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        column-gap: 10px;
    }
    a {
        color: $cor-3;
        font-weight: bold;
        text-decoration: none;
        font-size: 32px;
        transition: 0.3s;
        &:hover {
            text-decoration: underline;
            font-size: 40px;
        }
    }
}