@import '../Abstract/variaveis';

.cabecalho {
    text-align: center;
    background-color: $cor-3;
    padding: 10px 0px;
    box-shadow: 1px 0px 5px black;
    .container__titulo {
        .codigo {
            transform: translateY(1px);
        }
    }
}