@import '../Abstract/variaveis';
@import '../Abstract/funcoes';

.principal {
    display: grid;
    grid-template-areas: 
    "campo campo campo__lateral";
    grid-template-columns: repeat(3, 1fr);
    background-color: $cor-2;
    gap: 10px;
    line-height: $altura-linha;
    @include Colocar-margin;
    @include Colocar-padding;
    @include Colocar-borda;
    .campo {
        grid-area: campo;
        background-color: $cor-1;
        @include Colocar-padding;
        @include Colocar-borda;
    }
    .campo__lateral {
        grid-area: campo__lateral;
        background-color: $cor-1;
        @include Colocar-padding;
        @include Colocar-borda;
    }
}