@import '../Abstract/variaveis';
@import '../Abstract/funcoes';

.rodape {
    background-color: #000;
    color: white;
    width: 100vw;
    bottom: 0;
    padding: 10px 0px;
    text-align: center;
    position: fixed;
    a {
        text-decoration: none;
        color: white;
        transition: .3s;
        &:hover {
            color: $cor-3;
            font-size: 1.1em;
            text-decoration: underline;
        }
    }
}