@charset "UTF-8";

@media (768px <= width <= 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login aside#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login article#form {
        float: right;
        width: 70%;
    }

    div.campo input {
        transform: translateY(-12px);
    }
}

@media (993px <= width) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 990px;
        height: 350px;
    }

    div.campo input {
        transform: translateY(-12px);
    }

    section#login aside#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login article#form {
        float: left;
        width: 50%;
    }

    article#form h1 {
        font-size: 2em;
    }
    
    article#form p {
        font-size: 1.2em;
    }
}