@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font: normal 12pt Arial;
    background-color: rgb(123, 240, 255);
}
hr{
    border-color: black;
}
header{
    text-align: center;
}
header h1, h2, h3{
    padding: 12px;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
input.numInp{
    border-radius: 2px;
    border: 2px solid #359eff;
    height: 20px;
    margin: 10px 0px;
    text-align: center;
    font-style: italic;
}
input#botao {
    color: #14396A;
    font-size: 14px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(to top, #63B8EE, #468CCF);
  }
  input#botao:hover {
    color: #14396A;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
  }